h1 {
  text-align: right;
  color: aliceblue;
  background-color: darkblue;
  height: 150px;
  margin: 0%;
  padding-top: 3.75%;
}
body {background-color: cornflowerblue;}
.descriptor {font-weight: bolder;
}
.mission {width: 30%;
}
.quote {
  font-family: cursive;
  text-align: center;
}
